.pill-button {
    border-radius: 50px;
  }
  
  .modal-dialog {
    max-width: 400px;
  }
  
  .modal-backdrop {
    z-index: 1040 !important; /* Asegura que el backdrop esté detrás del modal */
  }
  
  .custom-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .modal.show {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.5);
  }
  