<div class="container d-flex justify-content-center">
  <table class="table" style="width: 80%;">
    <thead>
      <tr>
        <th scope="col"></th>
        <th class="text-center" scope="col">No card linking required</th>
        <th class="text-center" scope="col">Link your card to get</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let information of tableInformation">
        <th scope="row">{{information.name}}</th>
        <td class="text-center"><i *ngIf="information.linkingRequired" class="fa-regular fa-circle-check fa-xl"></i></td>
        <td class="text-center"><i class="fa-regular fa-circle-check fa-xl"></i></td>
      </tr>
    </tbody>
  </table>
</div>
